<app-slider-home></app-slider-home>
<div class="slider-cat my-3">
    <app-slider-cat></app-slider-cat>
</div>
<div class="home ">
    <div class="container mx-auto">
        <div class="row ">
            @for (product of allProducts; track $index) {
                <div class="product  w-3/12">
                  <div class="inner p-2 " [routerLink]="'/details/' +product._id">
                    <img [src]="product.imageCover" alt="product photo">
                    <h5>{{product.category.name}}</h5>
                    <h6>{{product.title.split(' ').splice(0,2).join(' ')}}</h6>
                    <div class="pricing flex justify-between items-center">
                        <span>{{product.price}}</span>
                        <span><i class="fa-solid fa-star rating-color"></i></span>
                    </div>
                  </div>
                  <button (click)="AddToCart(product._id)" class="btn">Show Cart</button>

                </div>
            }
        </div>
    </div>
</div>
