<div class="home ">
    <div class="container mx-auto">
        <div class="row  text-white">
            @for (product of allProducts; track $index) {
                <div class="product  w-3/12">
                  <div class="inner p-2 ">
                    <img [src]="product.imageCover" alt="product photo">
                    <h5>{{product.category.name}}</h5>
                    <h6>{{product.title.split(' ').splice(0,2).join(' ')}}</h6>
                    <div class="pricing flex justify-between items-center">
                        <span>{{product.price}}</span>
                        <span><i class="fa-solid fa-star rating-color"></i></span>
                    </div>
                    <button class="btn">Show Cart</button>
                  </div>
                </div>
            }
        </div>
    </div>
</div>
