<owl-carousel-o [options]="customOptions" >
    <ng-template carouselSlide>
        <img class="h-[300px] p-0 bg-transparent" src="assets/images/blog-img-1.jpeg" alt="slider image">
    </ng-template>  
    <ng-template carouselSlide>
        <img class="h-[300px] p-0 bg-transparent" src="assets/images/blog-img-2.jpeg" alt="slider image">
    </ng-template>  
    <ng-template carouselSlide >
        <img class="h-[300px] p-0 bg-transparent" src="assets/images/blog-img-1.jpeg" alt="slider image">
    </ng-template>  
  </owl-carousel-o>